<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="userForm">
          <form [formGroup]="userForm">
            <ng-template matStepLabel>Personal Details</ng-template>
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input matInput placeholder="First Name" formControlName="firstName" required>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <mat-label>Last name</mat-label>
              <textarea matInput placeholder="Last Name" formControlName="lastName" required>
        </textarea>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <mat-label>User Name</mat-label>
              <input matInput placeholder="User Name" formControlName="username" required>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <mat-label>Id Number</mat-label>
              <input matInput placeholder="Id Number" formControlName="idNumber" required>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" formControlName="password" required>
            </mat-form-field>
            <br/>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="companyForm">
          <form [formGroup]="companyForm">
            <ng-template matStepLabel>Company Details</ng-template>
            <mat-form-field>
              <mat-label>Company Name</mat-label>
              <input matInput placeholder="Company Name" formControlName="companyName" required>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <mat-label>VAT Number</mat-label>
              <input matInput placeholder="VAT Number" formControlName="vatNumbers" required>
            </mat-form-field>
            <br/>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="addressForm">
          <form [formGroup]="addressForm">
            <ng-template matStepLabel>Address Details</ng-template>
            <mat-form-field>
              <mat-label>Street Number</mat-label>
              <input matInput placeholder="Street Number" formControlName="streetNumber" required>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <mat-label>Suburb</mat-label>
              <input matInput placeholder="Suburb" formControlName="suburb" required>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <mat-label>Region</mat-label>
              <input matInput placeholder="Region" formControlName="region" required>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <mat-label>PO Box</mat-label>
              <input matInput placeholder="PO Box" formControlName="poBox" required>
            </mat-form-field>
            <br/>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>

         <!-- <mat-list>
            <mat-list-item> <strong>Name:</strong> {{ this.firstFormGroup.value.name }}</mat-list-item>
            <mat-list-item> <strong>Description:</strong> {{ this.firstFormGroup.value.description }}</mat-list-item>
            <mat-list-item> <strong>Amount:</strong> {{ this.secondFormGroup.value.amount }}</mat-list-item>
            <mat-list-item> <strong>Stock:</strong> {{ this.secondFormGroup.value.stock }}</mat-list-item>
          </mat-list> -->

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <!-- <button mat-button (click)="stepper.onreset()et()">Reset</button> -->
            <button mat-button (click)="onSubmit()">Submit</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
</div>
